#quit2home{
    background-color: var(--color-primary);
    border-radius: 5px;
    position: absolute;
    align-content: center;
    top: 120px;
    left: 10px;
    width: 100px;
    height: 50px;
    z-index: 10;
}
.question-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.answer-options{
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.answer-btn {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.answer-label {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: var(--color-background);
    font-weight: bold;
}

.answer-btn.selected {
    border: 6px solid var(--color-secondary);
    background-color: var(--color-background1);
}

.answer-text {
    flex: 1;
    text-align: left;
}

.progress-text {
    font-style: bold;
    margin-bottom: 1rem;
    font-weight: 600;
}

#question-text {
    font-size: 3rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .answer-options {
        width: 300px;
    }
}