

header{
    display: flex;
    justify-content: center;
    background-color: rgb(253, 253, 253);
    text-align: center;
    font-family: 'inter', sans-serif;
    font-size: 36px;
    font-weight: 700;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.amount-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}